In this class: 

1) Why can't we just use count vectorizer
2) TF- IDF
3) N-gram
4) How to reduce spasrity

TF - IDF Score of words - Using the count vectorizer we are just trying to identify the importance of word based on the freq. This may not be a very good matrix as its just based on the freq. Thus we must try to find the importance of a words using TF-IDF score as matrix.

In [26]:
# Lets import the libraries

import pandas as pd
import string
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer

# Import the data

df = pd.read_excel("/Users/amitchoudhary/Downloads/Retaildata.xlsx")

df.head()

,id,asins,brand,categories,colors,dateAdded,dateUpdated,dimension,ean,keys,...,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username,sizes,upc,weight
0,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I initially had trouble deciding between the p...,"Paperwhite voyage, no regrets!",NaN,NaN,Cristina M,NaN,NaN,205 grams
1,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,Allow me to preface this with a little history...,One Simply Could Not Ask For More,NaN,NaN,Ricky,NaN,NaN,205 grams
2,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,4.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I am enjoying it so far. Great for reading. Ha...,Great for those that just want an e-reader,NaN,NaN,Tedd Gardiner,NaN,NaN,205 grams
3,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I bought one of the first Paperwhites and have...,Love / Hate relationship,NaN,NaN,Dougal,NaN,NaN,205 grams
4,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I have to say upfront - I don't like coroporat...,I LOVE IT,NaN,NaN,Miljan David Tanic,NaN,NaN,205 grams

In [2]:
# We will be working only on the reviews.text column

df_text = df[['reviews.text']]

# Step 1: Converting everything into a lower case

df_text['lower_text'] = df_text['reviews.text'].str.lower()

df_text.head()

<ipython-input-2-3f88bd6a4c84>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_text['lower_text'] = df_text['reviews.text'].str.lower()

,reviews.text,lower_text
0,I initially had trouble deciding between the p...,i initially had trouble deciding between the p...
1,Allow me to preface this with a little history...,allow me to preface this with a little history...
2,I am enjoying it so far. Great for reading. Ha...,i am enjoying it so far. great for reading. ha...
3,I bought one of the first Paperwhites and have...,i bought one of the first paperwhites and have...
4,I have to say upfront - I don't like coroporat...,i have to say upfront - i don't like coroporat...

In [3]:
# Step 2: To remove all the special character and punct. 

df_text['clean_text'] = df_text['lower_text'].str.replace("[^a-z' ]", '')

df_text.head()

<ipython-input-3-4aa95cf1fab2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_text['clean_text'] = df_text['lower_text'].str.replace("[^a-z' ]", '')

,reviews.text,lower_text,clean_text
0,I initially had trouble deciding between the p...,i initially had trouble deciding between the p...,i initially had trouble deciding between the p...
1,Allow me to preface this with a little history...,allow me to preface this with a little history...,allow me to preface this with a little history...
2,I am enjoying it so far. Great for reading. Ha...,i am enjoying it so far. great for reading. ha...,i am enjoying it so far great for reading had ...
3,I bought one of the first Paperwhites and have...,i bought one of the first paperwhites and have...,i bought one of the first paperwhites and have...
4,I have to say upfront - I don't like coroporat...,i have to say upfront - i don't like coroporat...,i have to say upfront i don't like coroporate...

In [4]:
# Step 3: Lets remove the stop words

from nltk.corpus import stopwords

stop = stopwords.words('english')

# Create a UDF to remove the stop words

def sw(x):
    x = [word for word in x.split() if word not in stop]
    return " ".join(x)

df_text['txt_non_stop'] = df_text['clean_text'].apply(sw)

df_text.head()

<ipython-input-4-a12e3fbde8bd>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_text['txt_non_stop'] = df_text['clean_text'].apply(sw)

,reviews.text,lower_text,clean_text,txt_non_stop
0,I initially had trouble deciding between the p...,i initially had trouble deciding between the p...,i initially had trouble deciding between the p...,initially trouble deciding paperwhite voyage r...
1,Allow me to preface this with a little history...,allow me to preface this with a little history...,allow me to preface this with a little history...,allow preface little history casual reader own...
2,I am enjoying it so far. Great for reading. Ha...,i am enjoying it so far. great for reading. ha...,i am enjoying it so far great for reading had ...,enjoying far great reading original fire since...
3,I bought one of the first Paperwhites and have...,i bought one of the first paperwhites and have...,i bought one of the first paperwhites and have...,bought one first paperwhites pleased constant ...
4,I have to say upfront - I don't like coroporat...,i have to say upfront - i don't like coroporat...,i have to say upfront i don't like coroporate...,say upfront like coroporate hermetically close...

In [5]:
# Step 4: Creating a DTM

# Step 4.1: Create a TF-IDF vectorizer

tfidf_vec = TfidfVectorizer()

# Step 6.2: We will fit this object on our txt_non_stop column of our df1

tfidf_vec.fit(df_text['txt_non_stop'])

# Step 6.3: Create the DTM by using fit_tranform

X = tfidf_vec.fit_transform(df_text['txt_non_stop'])

X

<1596x7332 sparse matrix of type '<class 'numpy.float64'>'
	with 98881 stored elements in Compressed Sparse Row format>

In [6]:
# Lets try to find the top 20 words based on the TF_IDF score

# Lets first convert the DTM into a data frame

DTM_DF = pd.DataFrame(X.toarray(), columns = tfidf_vec.get_feature_names())

DTM_DF.head()

# Find the freq of each words

word_tfidf_score = DTM_DF.sum()


# Lets convert the word_freq into a data frame

word_df = pd.DataFrame(word_tfidf_score).reset_index()

# Lets rename the column 0 as tf_idf_score

word_df = word_df.rename(columns = {0 : 'tf_idf_score'})

# Lets arrange the column tf_idf_score

word_df.sort_values(by = 'tf_idf_score', ascending = False).head(20)

           index  tf_idf_score
3533      kindle     60.751714
2802       great     56.923199
2423        fire     53.719542
224       amazon     50.044073
3695        like     47.763790
5990       sound     47.757804
6873         use     45.656608
2943  headphones     44.152559
1964        echo     41.707494
4925       prime     40.422549
3809        love     40.068188
6367         tap     40.005394
6725          tv     36.342314
7240       would     34.642580
6009     speaker     34.163771
2751        good     33.815336
4397         one     33.554596
1646      device     33.464799
174        alexa     30.953718
6336      tablet     30.927585

Both count as well as the tf-idf DTM does not explain the context in which the words are used as each column of the DTM contain a single word. Such DTM are know as Unigram (1 words) DTM.

We can create a DTM where each column will containg two words(pair) based on the context in which they are used within the documents as well as across the documents. Infact we can create n-gram - DTM with multiple combination of words. However, we hardly use DTM beyon trigram.

Bigram DTM - Each column will have a pair of words based on the context they were used.

NOTE: Whole code will remain same, only change which will happen will be in the vectorizer

In [7]:
# Step 4: Creating a Bigram TF-IDF DTM

# Step 4.1: Create a TF-IDF vectorizer

bigram_tfidf_vec = TfidfVectorizer(ngram_range=(2,2))

# Step 6.2: We will fit this object on our txt_non_stop column of our df1

bigram_tfidf_vec.fit(df_text['txt_non_stop'])

# Step 6.3: Create the DTM by using fit_tranform

X_bigram = bigram_tfidf_vec.fit_transform(df_text['txt_non_stop'])

X_bigram

<1596x43389 sparse matrix of type '<class 'numpy.float64'>'
	with 125586 stored elements in Compressed Sparse Row format>

In [8]:
# Lets try to find the top 20 words based on the TF_IDF Bigram score

# Lets first convert the DTM into a data frame

DTM_DF_bigram = pd.DataFrame(X_bigram.toarray(), 
                             columns = bigram_tfidf_vec.get_feature_names())

DTM_DF_bigram.head()

# Find the freq of each words

word_tfidf_score_bigram = DTM_DF_bigram.sum()


# Lets convert the word_freq into a data frame

word_df_bigram = pd.DataFrame(word_tfidf_score_bigram).reset_index()

# Lets rename the column 0 as tf_idf_score

word_df_bigram = word_df_bigram.rename(columns = {0 : 'tf_idf_score'})

# Lets arrange the column tf_idf_score

word_df_bigram.sort_values(by = 'tf_idf_score', ascending = False).head(20)

                index  tf_idf_score
19232     kindle fire     20.986270
13384         fire hd     15.807135
37517         they re     14.489515
2357       apple buds     13.457870
13480         fire tv     12.766801
19762       last year     11.491784
1734     amazon prime      9.893368
13388        fire hdx      9.533117
20609       like they      9.014959
15435      going fall      8.971913
29777        re going      8.971913
34722   sound quality      8.715020
36928     tangle free      8.206701
28427    prime movies      8.063340
2391         apple tv      7.926699
33011  set headphones      7.533393
10462   early reviews      7.373355
16047     great sound      7.361096
28463        prime tv      7.276882
42711     works great      7.158168

Day 4 - 17th Sept 2020

Word similarity using Cosine similarity - A commonly used approach to match similar words. 

What is cosine similarty and why is it advantageous:

Cosine similarity is a matric used to determine how similar a words are. Mathematically, its measures the cosine angele between two words (represented as vector) in a multi dimensional space.

The application of cosine similarity is used in google search engine along with an algo know page Rank and LexRank.

We will use our bigram DTM which is converted into a data frame to find the distance matrix

The major step to find the cosine similarty between the words is to convert the DTM into a square matrix. This can take lot of time, depending upon your DTM. Thus, one good way to reduce the processing time of a square matrix, is to reduce the column in your DTM. This can be done by reducing the sparsity of your matrix. 

We can use arguments like min_df or max_df to reduce the sparsity of your matrix. 

Lets create the DTM matrix again and use these arguments to reduce sparsity.

In [9]:
# Step 4: Creating a new vector with min_df argument to reduce the number
# of words in my DTM

# Step 4.1: Create a TF-IDF vectorizer

new_vec = TfidfVectorizer(ngram_range=(2,2), min_df= 0.002)

# Step 4.2: We will fit this object on our txt_non_stop column of our df1

new_vec.fit(df_text['txt_non_stop'])

# Step 4.3: Create the DTM by using fit_tranform

X_new = new_vec.fit_transform(df_text['txt_non_stop'])

X_new

<1596x5366 sparse matrix of type '<class 'numpy.float64'>'
	with 76936 stored elements in Compressed Sparse Row format>

In [10]:
# Lets convert the above DTM in to a data frame

NEW_DTM_DF = pd.DataFrame(X_new.toarray(), 
                             columns = new_vec.get_feature_names())

NEW_DTM_DF.head()

,ability create,ability expand,able browse,able compare,able hear,able increase,able ll,able open,able perform,able play,...,yet high,yet still,yet tried,youi first,younow model,youtube app,youtube hdx,youtube video,youtube videos,zero eye
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# Lets find the cosine similarty between these 5366 bigram words

#Step 1: To convert your DTM into a square distance matrix

from sklearn.metrics.pairwise import cosine_similarity

sim_mat = cosine_similarity(NEW_DTM_DF.T)

In [56]:
sim_mat

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 1., ..., 0., 0., 1.]])

In [12]:
# Step 2: Lets convert the sim_mat into a data frame with a row labels
# column labels

sim_df = pd.DataFrame(sim_mat, columns=NEW_DTM_DF.columns,
                     index = NEW_DTM_DF.columns)

sim_df.head()

,ability create,ability expand,able browse,able compare,able hear,able increase,able ll,able open,able perform,able play,...,yet high,yet still,yet tried,youi first,younow model,youtube app,youtube hdx,youtube video,youtube videos,zero eye
ability create,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ability expand,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
able browse,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
able compare,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
able hear,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

I want to know the top 10 similar words like "youtube app". To do this I have to create a user define function, which will take my input word and perform the following in the above data frame: 

1) For a given input words, it must arrange the distance values from highest to lowest using the above data frame
2) It must drop the input words from the final output
3) It must than pick top N words based on the input argument.

In [13]:
# Lets design the UDF - User define function

def get_similar_words(input_word, dist_mat_df, n_words):
    cos_vals = dist_mat_df[input_word].sort_values(ascending = False)
    sim_words = cos_vals.drop(input_word).head(n_words)
    return sim_words

In [14]:
get_similar_words('youtube app', sim_df, 10)

amazon giving         0.448832
blown away            0.445475
youtube videos        0.405603
read amazon           0.397223
nearly good           0.350463
number one            0.346319
complaint would       0.330938
say loud              0.313366
used use              0.306830
considering buying    0.286679
Name: youtube app, dtype: float64

Topic Modelling - Consider a situation in which you are confronted with large collection of documents but have no idea what they are about. One of the first things you might want to do is to classify these documents into topics or themes. 

What is topic modelling - In simple terms, the process of looking into a large collection of documents to identifying clusters of words and grouping them together based on a similarity and identifying the patterns in the cluster. 

For example: 

D1 = "Sachin is a great player"
D2 = "Cricket is a funny game"
D3 = "Data analytics is a new career"
D4 = "Data is new oil"
D5 = "Titanic is a nice movie"

Based on the words in each documents, these can be divided into 3 topic. The system will just cluster D1 and D2, D3 and D4 together. However, you need understand the key words from each topic / cluster to understand what that topic is talking about. 

To do this, we use an algo know as LDA - Latent Dirichlet Allocation - which is a probablisitic algo. As a part of this algo, our DTM is divided into 2 sub-parts: 

1) Matrix between Documents and topic - This will cluster the documents under the same topic.
2) Matrix between Topic and words - This will help you find the key words from each topic, with the help of which, you can identify what name to be given to each topic.

NOTE: To find the optimal number of topics, in which your data can be divided, you need to use gridsearchCV algo. This class we will not cover gridSearch, thus we will take any number as the optimal number of topics. 

We will use our current DTM which is X_new

In [15]:
# Lets cluster the 1596 documents from our DTM into 5 topic

from sklearn.decomposition import LatentDirichletAllocation

# Step 1: To build a LDA object

lda_model = LatentDirichletAllocation(n_components=5, random_state = 1234)

# Step 2: To fit this model object on our DTM

lda_output = lda_model.fit_transform(X_new)

lda_output

array([[0.06153045, 0.06194082, 0.66356782, 0.15026028, 0.06270063],
       [0.04535695, 0.04630484, 0.81652845, 0.04544298, 0.04636677],
       [0.06193999, 0.06193867, 0.75218598, 0.06194037, 0.06199499],
       ...,
       [0.2       , 0.2       , 0.2       , 0.2       , 0.2       ],
       [0.31976838, 0.45162018, 0.07471716, 0.07893718, 0.0749571 ],
       [0.05507284, 0.35333581, 0.05868967, 0.47755536, 0.05534631]])

lda_output will give a matrix between documents and topic. where each row will represent a document and each column will represent the topic. The cell will represent the prob. of each document to be classified in each topic.

The the above array when converted into a data frame will give you 1596 row and 5 column (as we have divided our data into 5 topics)

In [16]:
# Step 3: Lets convert the lda_output into a data frame

import numpy as np

doc_topic_df = pd.DataFrame(np.round(lda_output,2))

doc_topic_df.head()

      0     1     2     3     4
0  0.06  0.06  0.66  0.15  0.06
1  0.05  0.05  0.82  0.05  0.05
2  0.06  0.06  0.75  0.06  0.06
3  0.05  0.05  0.05  0.41  0.43
4  0.04  0.04  0.04  0.84  0.04

In [17]:
# Step 4: lets find the dominating topic for each document based on the 
# highest prob.

# We can use argmax command from numpy to find the index value based 
# max value for each row. 

dominate_topic = np.argmax(doc_topic_df.values, axis = 1)

dominate_topic

# Step 5: Find the number of documents in each topic

doc_topic_df['dominate_topic'] = dominate_topic

doc_topic_df.head()

      0     1     2     3     4  dominate_topic
0  0.06  0.06  0.66  0.15  0.06               2
1  0.05  0.05  0.82  0.05  0.05               2
2  0.06  0.06  0.75  0.06  0.06               2
3  0.05  0.05  0.05  0.41  0.43               4
4  0.04  0.04  0.04  0.84  0.04               3

In [18]:
# to find the number of document in each topic

doc_topic_df.groupby('dominate_topic').size().reset_index()

   dominate_topic    0
0               0  323
1               1  200
2               2  300
3               3  494
4               4  279

Day 5 - 20th Sept 2020

As a part topic modelling, we still don't know what these topics are all about. To understand what the topic is all about, we might have to study the key words in each topic. We will find top 20 words based on TF-IDF vec from each topic and then we will manually, study these words to understand what the topic is all about. 

Please NOTE: The LDA model can only divide the data into topics. However, it will not be able to name the topics. The name part of the topics is a human work.

Lets understand the Topic term matrix - The topic term matrix can be extracted from the model (which in this case is lda_model) by using the argument compontent_. 

A topic term matrix will have (when converted to a data frame), number of rows equal to the number of topics in which the data is classified and number of columns will be equal to the number of terms. 

Thus for this model, the dimension of the topic term matrix will be 5 rows and 5366 columns.

MOST IMPORTANT - The cells in topic term matrix contain likelihood, and thus you may see few cells value even greater than 1

In [22]:
# Lets see how the topic term matrix will look like

lda_model.components_

array([[0.20000353, 0.20000553, 0.20000402, ..., 1.16397542, 1.15805286,
        0.20000402],
       [0.20000284, 0.51705855, 0.2000034 , ..., 0.20000263, 0.20207411,
        0.2000034 ],
       [0.2000031 , 0.20000482, 0.20000355, ..., 0.20020037, 0.21517392,
        0.20000355],
       [0.79407909, 0.20000547, 0.59860391, ..., 0.20006992, 1.48643115,
        0.59860391],
       [0.20000249, 0.20000388, 0.20000287, ..., 0.20004035, 0.20025245,
        0.20000287]])

In [23]:
# Lets create the user define function to find the top 20 words from each 
# topic

def show_words(vectorizer, model, n_words):
    # Step 1: Create the array of all the words in your DTM
    keywords = np.array(vectorizer.get_feature_names())
    
    # Step 2: To create and empty list
    topic_keywords = []
    
    # Step 3: From my LDA model we will use the topic term matrix to find 
    # the top words based on the likelihood for each topic
    
    for x in lda_model.components_:
        word_loc = (-x).argsort()[:n_words]
        
        # Lets append the empty list by picking the words from the 
        # keywords array
        
        topic_keywords.append(keywords.take(word_loc))
    return topic_keywords

In [24]:
# Lets find the top 20 words from each topic

show_words(new_vec, lda_model, 20)

[array(['works great', 'we ve', 'comcast ondemand', 'happy purchase',
        'samsung note', 'ask alexa', 'fire gen', 'fire hdx',
        'easy install', 'great addition', 'listening music',
        'every single', 'use time', 'fire tv', 'plays music',
        'prime member', 'ask questions', 'voice recognition',
        'kindle fire', 'price point'], dtype='<U61'),
 array(['apple buds', 'they re', 'going fall', 're going', 'like they',
        'would buy', 'apple tv', 'sound great', 'slightly better',
        'full sound', 'good product', 've owned', 'people saying',
        'bad reviews', 've purchased', 'great ve', 'better apple',
        'items amazon', 'tablet want', 'dual speakers'], dtype='<U61'),
 array(['fire tv', 'voice search', 'amazon prime', 'fire hd', 'play music',
        'customer service', 'google play', 'kindle fire', 'movies tv',
        'little speaker', 'push button', 'brand new', 'love tap',
        'prime content', 'would like', 'apple tv', 'play store',
        'prime membership', 'works well', 'available prime'], dtype='<U61'),
 array(['great sound', 'amazon tap', 'sound quality', 'fire tv',
        'bluetooth speaker', 'amazon echo', 'easy use', 'echo dot',
        'great product', 'amazon fire', 'battery life', 'good sound',
        'works great', 'easy set', 'would recommend', 'works well',
        'around house', 'portable speaker', 'hands free', 'listen music'],
       dtype='<U61'),
 array(['kindle fire', 'fire hd', 'tangle free', 'new kindle',
        'set headphones', 'early reviews', 'noise cancelling', 'prime tv',
        'magnets tangle', 'perform like', 'prime movies', 'bought gift',
        'really like', 'going around', 'nice set', 'free cord',
        'kindle paperwhite', 'last year', 'still hear', 'top prime'],
       dtype='<U61')]

Based on the above words from each topic, you may want to identify what each topic is talking about. As Topic modelling have direct relationship with DTM, the more refined DTM will give a nice word combination in topcis. Thus you have to focus on three things while create Topics: 

1) Creation of DTM - As refine as possible.
2) Finding the optimal number of topics in which the data can be divided - Scope of higher study
3) Selecting the data source which have text across various products or various topics. Try to use a hetro data and not a homo data.