In this class: 

1) Why can't we just use count vectorizer
2) TF- IDF
3) N-gram
4) How to reduce spasrity

TF - IDF Score of words - Using the count vectorizer we are just trying to identify the importance of word based on the freq. This may not be a very good matrix as its just based on the freq. Thus we must try to find the importance of a words using TF-IDF score as matrix.

In [1]:
# Lets import the libraries

import pandas as pd
import string
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer

# Import the data

df = pd.read_excel("/Users/amitchoudhary/Downloads/Retaildata.xlsx")

df.head()

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

,id,asins,brand,categories,colors,dateAdded,dateUpdated,dimension,ean,keys,...,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username,sizes,upc,weight
0,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I initially had trouble deciding between the p...,"Paperwhite voyage, no regrets!",NaN,NaN,Cristina M,NaN,NaN,205 grams
1,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,Allow me to preface this with a little history...,One Simply Could Not Ask For More,NaN,NaN,Ricky,NaN,NaN,205 grams
2,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,4.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I am enjoying it so far. Great for reading. Ha...,Great for those that just want an e-reader,NaN,NaN,Tedd Gardiner,NaN,NaN,205 grams
3,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I bought one of the first Paperwhites and have...,Love / Hate relationship,NaN,NaN,Dougal,NaN,NaN,205 grams
4,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I have to say upfront - I don't like coroporat...,I LOVE IT,NaN,NaN,Miljan David Tanic,NaN,NaN,205 grams

In [2]:
# We will be working only on the reviews.text column

df_text = df[['reviews.text']]

# Step 1: Converting everything into a lower case

df_text['lower_text'] = df_text['reviews.text'].str.lower()

df_text.head()

<ipython-input-2-3f88bd6a4c84>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_text['lower_text'] = df_text['reviews.text'].str.lower()

,reviews.text,lower_text
0,I initially had trouble deciding between the p...,i initially had trouble deciding between the p...
1,Allow me to preface this with a little history...,allow me to preface this with a little history...
2,I am enjoying it so far. Great for reading. Ha...,i am enjoying it so far. great for reading. ha...
3,I bought one of the first Paperwhites and have...,i bought one of the first paperwhites and have...
4,I have to say upfront - I don't like coroporat...,i have to say upfront - i don't like coroporat...

In [3]:
# Step 2: To remove all the special character and punct. 

df_text['clean_text'] = df_text['lower_text'].str.replace("[^a-z' ]", '')

df_text.head()

<ipython-input-3-4aa95cf1fab2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_text['clean_text'] = df_text['lower_text'].str.replace("[^a-z' ]", '')

,reviews.text,lower_text,clean_text
0,I initially had trouble deciding between the p...,i initially had trouble deciding between the p...,i initially had trouble deciding between the p...
1,Allow me to preface this with a little history...,allow me to preface this with a little history...,allow me to preface this with a little history...
2,I am enjoying it so far. Great for reading. Ha...,i am enjoying it so far. great for reading. ha...,i am enjoying it so far great for reading had ...
3,I bought one of the first Paperwhites and have...,i bought one of the first paperwhites and have...,i bought one of the first paperwhites and have...
4,I have to say upfront - I don't like coroporat...,i have to say upfront - i don't like coroporat...,i have to say upfront i don't like coroporate...

In [6]:
# Step 3: Lets remove the stop words

from nltk.corpus import stopwords

stop = stopwords.words('english')

# Create a UDF to remove the stop words

def sw(x):
    x = [word for word in x.split() if word not in stop]
    return " ".join(x)

df_text['txt_non_stop'] = df_text['clean_text'].apply(sw)

df_text.head()

<ipython-input-6-a12e3fbde8bd>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_text['txt_non_stop'] = df_text['clean_text'].apply(sw)

,reviews.text,lower_text,clean_text,txt_non_stop
0,I initially had trouble deciding between the p...,i initially had trouble deciding between the p...,i initially had trouble deciding between the p...,initially trouble deciding paperwhite voyage r...
1,Allow me to preface this with a little history...,allow me to preface this with a little history...,allow me to preface this with a little history...,allow preface little history casual reader own...
2,I am enjoying it so far. Great for reading. Ha...,i am enjoying it so far. great for reading. ha...,i am enjoying it so far great for reading had ...,enjoying far great reading original fire since...
3,I bought one of the first Paperwhites and have...,i bought one of the first paperwhites and have...,i bought one of the first paperwhites and have...,bought one first paperwhites pleased constant ...
4,I have to say upfront - I don't like coroporat...,i have to say upfront - i don't like coroporat...,i have to say upfront i don't like coroporate...,say upfront like coroporate hermetically close...

In [7]:
# Step 4: Creating a DTM

# Step 4.1: Create a TF-IDF vectorizer

tfidf_vec = TfidfVectorizer()

# Step 6.2: We will fit this object on our txt_non_stop column of our df1

tfidf_vec.fit(df_text['txt_non_stop'])

# Step 6.3: Create the DTM by using fit_tranform

X = tfidf_vec.fit_transform(df_text['txt_non_stop'])

X

<1596x7332 sparse matrix of type '<class 'numpy.float64'>'
	with 98881 stored elements in Compressed Sparse Row format>

In [10]:
# Lets try to find the top 20 words based on the TF_IDF score

# Lets first convert the DTM into a data frame

DTM_DF = pd.DataFrame(X.toarray(), columns = tfidf_vec.get_feature_names())

DTM_DF.head()

# Find the freq of each words

word_tfidf_score = DTM_DF.sum()


# Lets convert the word_freq into a data frame

word_df = pd.DataFrame(word_tfidf_score).reset_index()

# Lets rename the column 0 as tf_idf_score

word_df = word_df.rename(columns = {0 : 'tf_idf_score'})

# Lets arrange the column tf_idf_score

word_df.sort_values(by = 'tf_idf_score', ascending = False).head(20)

           index  tf_idf_score
3533      kindle     60.751714
2802       great     56.923199
2423        fire     53.719542
224       amazon     50.044073
3695        like     47.763790
5990       sound     47.757804
6873         use     45.656608
2943  headphones     44.152559
1964        echo     41.707494
4925       prime     40.422549
3809        love     40.068188
6367         tap     40.005394
6725          tv     36.342314
7240       would     34.642580
6009     speaker     34.163771
2751        good     33.815336
4397         one     33.554596
1646      device     33.464799
174        alexa     30.953718
6336      tablet     30.927585

Both count as well as the tf-idf DTM does not explain the context in which the words are used as each column of the DTM contain a single word. Such DTM are know as Unigram (1 words) DTM.

We can create a DTM where each column will containg two words(pair) based on the context in which they are used within the documents as well as across the documents. Infact we can create n-gram - DTM with multiple combination of words. However, we hardly use DTM beyon trigram.

Bigram DTM - Each column will have a pair of words based on the context they were used.

NOTE: Whole code will remain same, only change which will happen will be in the vectorizer

In [11]:
# Step 4: Creating a Bigram TF-IDF DTM

# Step 4.1: Create a TF-IDF vectorizer

bigram_tfidf_vec = TfidfVectorizer(ngram_range=(2,2))

# Step 6.2: We will fit this object on our txt_non_stop column of our df1

bigram_tfidf_vec.fit(df_text['txt_non_stop'])

# Step 6.3: Create the DTM by using fit_tranform

X_bigram = bigram_tfidf_vec.fit_transform(df_text['txt_non_stop'])

X_bigram

<1596x43389 sparse matrix of type '<class 'numpy.float64'>'
	with 125586 stored elements in Compressed Sparse Row format>

In [12]:
# Lets try to find the top 20 words based on the TF_IDF Bigram score

# Lets first convert the DTM into a data frame

DTM_DF_bigram = pd.DataFrame(X_bigram.toarray(), 
                             columns = bigram_tfidf_vec.get_feature_names())

DTM_DF_bigram.head()

# Find the freq of each words

word_tfidf_score_bigram = DTM_DF_bigram.sum()


# Lets convert the word_freq into a data frame

word_df_bigram = pd.DataFrame(word_tfidf_score_bigram).reset_index()

# Lets rename the column 0 as tf_idf_score

word_df_bigram = word_df_bigram.rename(columns = {0 : 'tf_idf_score'})

# Lets arrange the column tf_idf_score

word_df_bigram.sort_values(by = 'tf_idf_score', ascending = False).head(20)

                index  tf_idf_score
19232     kindle fire     20.986270
13384         fire hd     15.807135
37517         they re     14.489515
2357       apple buds     13.457870
13480         fire tv     12.766801
19762       last year     11.491784
1734     amazon prime      9.893368
13388        fire hdx      9.533117
20609       like they      9.014959
15435      going fall      8.971913
29777        re going      8.971913
34722   sound quality      8.715020
36928     tangle free      8.206701
28427    prime movies      8.063340
2391         apple tv      7.926699
33011  set headphones      7.533393
10462   early reviews      7.373355
16047     great sound      7.361096
28463        prime tv      7.276882
42711     works great      7.158168

Word similarity using Cosine similarity - A commonly used approach to match similar words. 

What is cosine similarty and why is it advantageous:

Cosine similarity is a matric used to determine how similar a words are. Mathematically, its measures the cosine angele between two words (represented as vector) in a multi dimensional space.

The application of cosine similarity is used in google search engine along with an algo know page Rank and LexRank.

We will use our bigram DTM which is converted into a data frame to find the distance matrix

In [13]:
# DTM_DF_bigram we will use this DTM which is converted into data frame

DTM_DF_bigram.head()

,aa batteries,abc live,abilities one,abilitieswhen amd,ability check,ability choose,ability connect,ability control,ability create,ability cut,...,zero eye,zero look,zerocons sd,zink happy,zip code,zippy awesome,zombiesi love,zoom work,zooming supported,zumi blues
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# Step 1: To convert your Bigram DTM into a square distance matrix

from sklearn.metrics.pairwise import cosine_similarity

sim_mat = cosine_similarity(DTM_DF_bigram.T)

In [17]:
pd.DataFrame(sim_mat)

,0,1,2,3,4,5,6,7,8,9,...,43379,43380,43381,43382,43383,43384,43385,43386,43387,43388
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43384,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
43385,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
43386,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
43387,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
43388,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0